
.pageLink{
    text-decoration: none;
}
.pageLink:hover{
    text-decoration:underline;
    background-color: beige;
}

.newsImg{
    height: 200px;
    width: 250px;
    display: flex;
    margin-right :10px; ;
}

#newstitle{
    display: flex;
    justify-content: center;
}

.newsDiv{
    display:flex;
    margin-left: 400px; 
    align-items: flex-start;
}

.hr{
    width: 800px;
}

.newsA{
    font-family: 微軟正黑體;
    font-size: 20px;
    font-weight: bold;
    color: rgb(56, 56, 222);
    text-decoration: none;
}

.newsA:hover{
    text-decoration:underline;
    background-color: rgb(176, 169, 169);
}

span{
    font-size: 15px;
    display: flex;
    margin-right: 350px;
}

.divIn{
    display: flex;
    flex-direction:column;

}

.newsConcenttitle{
    display: flex;
    justify-content: center;
}
.newsConcent{
    font-size: 18px;
    font-family: 微軟正黑體;
    margin-left: 350px;
    margin-right: 350px;
}

#BackTop{
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(51, 50, 50) ;
}

#BackTop:hover{
    background-color: gray;
}

